<div class="container-fluid ">
    <div class="row mt-2">
      <div class="col-12 mt-2">
            <nav id="sidebar-nav" data-spy="scroll" class="sidebar-nav">
                <div class="sidebar-list" >
                 
                  <div class="sidebar-item pt-2 pb-2 border-white border-bottom">
    
                    <a class="text-light" [routerLink]="['user']" [routerLinkActive]="['active-link']" >Users
                    </a>
              
                  </div>
                          
                </div><!-- /.sidebar-list -->
              </nav> 
        </div>
    </div>
  </div>